<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  {{>header}}
  <p>{{message}}</p>
  <h1>Products</h1>
  {{#each products}}
  <div class="productBox">
    <h2>Name: {{name}}</h2>
    <h3>Price: {{price}}</h3>
    <p>Inventory in stock: {{inventory}}</p>
    <p>ID Number: {{id}}</p>
    </br>
    <form method="Get" action="/products/{{id}}">

      <input type="submit" value="Go to product page">
    </form>
  </div>
  {{/each}}
  <form method="Get" action="/products/new">

    <input type="submit" value="Create new product">
  </form>

  {{>footer}}
  <script src="js/logic.js"></script>
</body>

</html>