<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>

<body>
  {{>header}}

  <h2>Name: {{name}}</h2>
  <h3>Price: {{price}}</h3>
  <p>Inventory in stock: {{inventory}}</p>
  <p>ID Number: {{id}}</p>


  <form method="GET" action="/products/{{id}}/edit">

    <input type="submit" value="EDIT">
  </form>
  {{>footer}}
</body>

</html>